.project-section {
  display: flex;
  margin: 10rem auto;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.project-header {
  width: 80%;
  margin: 0 auto;
}
.underline-3 {
  height: 2px;
  width: 30%;
  background-color: var(--darkBlue);
}
